@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/polisher');


*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
}
body{
    background-color: darkorange;
}

ul{
    list-style: none;
}

main{
    margin: 1rem;
    display: grid;
    grid-template-columns:33% 1fr;
    grid-gap: 1rem;
    filter: drop-shadow(0 0 0.4rem black);
}

.personal, .skills, .projects{
    padding: 1rem;
    line-height: 2;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}

.summary, .certifications{
    margin: 1rem 0;
    padding: 1.5rem;
    margin-top: 0;
    line-height: 2;
    background-color: white;
}
.certifications i {
    color: black;
}
.right{
    padding: 0;
}

.name {
    font-family: 'Polisher', sans-serif;
    font-size: 4rem;
    background-color: black;
    color: darkorange;
    padding: .4rem;
}

.left-image {
    position:relative;
}
.left-image img {
    width: 100%;
}

.left-image h1 {
    position:absolute;
    bottom:1rem;
    left: 1rem;
    color: darkorange;
    font-family: 'Polisher', sans-serif;
}
.summary ul {
    margin: 1rem;
}
.certifications ul {
    margin: 1rem;
}
i{
    color: blue;
}
footer{
    background-color: grey;
    padding: 1rem 0;
    text-align: center;
    line-height: 1.5;
}